body {
  max-width: 550px;
  margin: auto;
  padding: 0 1rem 3rem;
  background-color: blanchedalmond;
  line-height: 1.4;
  color: rgb(8, 8, 8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
  font-family: cursive;
  color: #111;
  font-weight: 500;
  color: brown;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0 4rem;
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 15px;
  margin: 4rem auto;
}

h2 {
  margin: 3rem 0 0;
}

p {
  padding-left: 5px;
}

p:last-of-type {
  margin-top: -8px;
}

ul,
ol {
  padding-left: 1.5rem;
}

li {
  margin: 1rem;
}

a {
  position: fixed;
  top: 2px;
  left: 2px;
  background: steelblue;
  border-radius: 5px;
  text-decoration: none;
  color: blanchedalmond;
  padding: 2px 7px;
}

a:hover {
  color: steelblue;
  background-color: blanchedalmond;
}

/* Media Queries */
@media (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }
}
